.author-info {
    color: $complimentary;
    font-family: $primaryBrandFont;
    margin: 0.5rem 0;
}

.author-info--border {
    border-bottom: 2px solid $primary;
}

.author-info__links {
    color: $complimentary;
}

.author-info__links:hover {
    color: $complimentaryHover;
}
