@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Rajdhani:300,400,600');

/*******************************************************************************
    START OF GLOBAL STYLES
*******************************************************************************/

$baseColor: #2A3236;
$baseColor2: #F8F8F8;
$primary: #20A594;
$primaryAlternative: #1AC9B2;
$secondary: #bf2e1d;
$secondaryAlternative: #ea3e2e;

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $baseColor2;
    color: $baseColor;
    font-size: 16px;
    font-size: 1.6rem;
}

header {
    background-color: $baseColor;
    color: $baseColor2;
    padding: 20px;
    display: flex;
}

main {
    margin: 0 auto;
    padding: 3.0rem;
}

h1 {
    color: $baseColor2;
    font-size: 40px;
    font-size: 4.0rem;
}

h2 {
    font-weight: 600;
    text-align: center;
}

a {
    color: $baseColor2;
}

.button {
    background-color: $primary;
    border: 0;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 3em;
    margin: 0.5em 0;
}

.button:hover {
    background-color: $primaryAlternative;
}

.button:active {
    transform: translateY(5px);
}

.red {
    background-color: $secondary;
}

.red:hover {
    background-color: $secondaryAlternative;
}

.flexboxWrapper {
    display: flex;
    flex-direction: column;
}

.listWrapper {
    box-sizing: border-box;
    /*text-align: left;*/
    margin: 0 auto;
    width: 100%;
    /*display: flex;
    justify-content: space-around;*/
}

.inputWrapper {
    box-sizing: border-box;
    /*text-align: left;*/
    margin-top: 70px;
    width: 100%;
}

.categoryList {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2.0rem;
}

.innerCatList {
    margin: 0 auto;
}
