@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Rajdhani:300,400,600');

/*******************************************************************************
    START OF GLOBAL STYLES
*******************************************************************************/

$baseColor: #1D2225;
$baseColorTransparent: rgba(29,
34,
37,
0.6);
$baseColorSemiTransparent: rgba(29,
34,
37,
0.95);
$baseColor2: #F8F8F8;
$primary: #20A594;
$primaryAlternative: #1AC9B2;
$error: #bf2e1d;
$errorAlternative: #ea3e2e;
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $baseColor2;
    color: $baseColor;
    font-size: 1.6rem;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3.0rem;
    width: 100vw;
    padding-top: 5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $baseColor;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 4.0rem;
    margin: 0;
}

h1 {
    color: $baseColor2;
    padding-top: 0.3rem;
}

h2 {
    font-weight: 600;
    text-align: center;
    padding-top: 0.3rem;
}

a {
    color: $baseColor2;
    text-decoration: none;
}

.hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*******************************************************************************
    END OF GLOBAL STYLES
*******************************************************************************/


/*******************************************************************************
START OF HEADER ELEMENT
*******************************************************************************/

// START OF TOP MENU SLIDING IN ------------------------------------------------
@keyframes menu-is-sliding-in {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(6.8rem);
    }
}

// END OF TOP MENU SLIDING IN -------------------------------------------------
header {
    background-color: $baseColorSemiTransparent;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $baseColor2;
    display: flex;
    padding: 0.8rem 2rem;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    animation-name: menu-is-sliding-in;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: fixed;
    top: -6.8rem;
    width: 100%;
    z-index: 2;
}

.logo {
    height: 3em;
    width: 3em;
}

// START OF HAMBURGER MENY -----------------------------------------------------
.hamburger ul,
.hamburger li,
.hamburger span,
.hamburgera {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.hamburger:after,
.hamburger ul:after {
    content: '';
    display: block;
    clear: both;
}

.hamburger ul {
    list-style: none;
}

.hamburger>ul {
    float: left;
}

.hamburger>ul>li {
    float: left;
}

.hamburger .has-sub {
    z-index: 1;
}

.hamburger .has-sub:hover>ul {
    display: block;
}

.hamburger .has-sub ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
}

.hamburger .has-sub ul li a {
    background: $primary;
    border-bottom: 1px solid $baseColor;
    display: block;
    line-height: 160%;
    padding: 15px 10px;
    font-size: 12px;
}

.hamburger .has-sub ul li:hover a {
    background: $primaryAlternative;
}

.hamburger .has-sub .has-sub:hover>ul {
    display: block;
}

.hamburger .has-sub .has-sub ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.burger-size {
    font-size: 4.2rem;
}

// END OF HAMBURGER MENY ------------------------------------------------------

/*******************************************************************************
    END OF HEADER ELEMENT
*******************************************************************************/


/*******************************************************************************
    START OF BUTTONS
*******************************************************************************/

.button {
    background-color: $primary;
    border: 0;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $baseColor2;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: $primaryAlternative;
}

.button:active {
    transform: translateY(5px);
}

.error {
    background-color: $error;
}

.error:hover {
    background-color: $errorAlternative;
}


/*******************************************************************************
    END OF BUTTONS
*******************************************************************************/

input[type=text],
input[type=password],
input[type=email],
textarea,
.button {
    font-size: 1.8rem;
    /*padding-top: 1.5em;*/
    text-align: center;
    text-transform: uppercase;
    height: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0.5em 0;
    width: 100%;
}

a[class="button"] {
    padding-top: 1.5em;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
    border: 0;
    border-bottom: 2px solid $primary;
    background-color: transparent;
}

label {
    color: $primary;
}

.flexboxWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.listWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.inputWrapper {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
}

.list {
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 2.0rem;
    width: 100%;
}

.inner-list {
    margin: 0 auto;
    padding: 0.5em 0;
}
/*******************************************************************************
    START OF CÓNTACT.PHP
*******************************************************************************/
.flex-item {
     box-sizing: border-box;
     margin: 0 auto;
     text-align: center;
}
/*******************************************************************************
    END OF POSTS ON INDEX.PHP
*******************************************************************************/



/*******************************************************************************
    START OF POSTS ON INDEX.PHP
*******************************************************************************/

// This wrapps the whole content in a post, including image.
.content-wrapper {
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
    img {
        margin: 0 auto;
        width: 100%;
    }
    // This wrapps all the text in a post, both paragraphs and headline.
    .text-wrapper {
        box-sizing: border-box;
        bottom: 5px;
        color: $baseColor2;
        display: block;
        font-weight: 400;
        left: 0;
        position: absolute;
        padding: 1em 0.7em 1.5em;
        width: 100%;
        h2 {
            color: $baseColor2;
            font-size: 4.0rem;
            line-height: 1em;
            text-align: left;
        }
        p {
            margin: 0.2em 0;
            line-height: 1.3em;
        }
        .tag {
            color: $primary;
            font-size: 2.5rem;
            font-family: 'Rajdhani', sans-serif;
            margin-bottom: 0.4em;
            a {
                color: $primary;
            }
            a:hover {
                color: $primaryAlternative;
            }
        }
    }
    // On hover over text, a background color appears. The backdrop filter blurs image
    // behind (works in Safari, other browsers will ignore it).
    .text-wrapper:hover {
        background: $baseColorTransparent;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}


/*******************************************************************************
    END OF POSTS ON INDEX.PHP
*******************************************************************************/

/*******************************************************************************
    START OF POSTSLIST
*******************************************************************************/

.dark {
    //tried dark background.
    background-color: $baseColor;
    padding-top: 0;
}

table {
    margin: 0 auto;
    tr {
        display: flex;
        flex-direction: column;
        margin: 1.5em 0;
        padding-bottom: 1em;
    }
    td {
        position: relative;
        h3 {
            color: $baseColor2;
            position: absolute;
            bottom: 20px;
            left: 10px;
            //if playing around with borders, change bottom and left
            text-shadow: 2px 2px 5px $baseColorSemiTransparent;
        }
    }
    img {
        box-sizing: border-box;
        // play around with borders!
        // border: 7px solid $primary;
        width: 100%;
    }
}


/*******************************************************************************
    END OF POSTSLIST
*******************************************************************************/

/*******************************************************************************
    START OF COMMENTS
*******************************************************************************/

.comment {
    background-color: $baseColor;
    padding: 10px;
    color: $baseColor2;
}

.comment-scroll {
    height: 5em;
    overflow: auto;
    background-color: $primary;
    padding: 10px;
    line-height: 200%;
}

.comment-info {
    padding: 10px 0;
}

.comment-flex {
    display: flex;
    flex-direction: row;
}

// START OF COMMENTS ON INDEX.PHP ----------------------------------------------

.comment-wrapper {
    display: none;
}

.post-comments {
    // Since we need to use float in this assignment
    float: right;
    position: relative;
    cursor: pointer;

    i {
        font-size: 5rem;
        color: $primary;
        text-shadow: 2px 2px 5px $baseColorTransparent;
    }
    i:hover {
        color: $primaryAlternative;
    }

    p {
        // TODO: Make sure this looks good even when there are 10+ comments.
        color: $baseColor2;
        font-family: 'Rajdhani', sans-serif;
        font-size: 2.4rem;
        font-weight: 600;
        left: 1.9rem;
        position: absolute;
        top: 0.5rem;
        text-align: center;
    }
}
// END OF COMMENTS ON INDEX.PHP ------------------------------------------------

/*******************************************************************************
    END OF COMMENTS
*******************************************************************************/
