// TODO: This needs to be sorted out!
// This wrapps the whole content in a post, including image.
.blogpost {
    padding: 10rem 0 3rem 0;
}

.blogpost__article {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include sizeDesktop {
        width: 32%;
        margin-bottom: 10px;
    }
}

.blogpost__article:first-child,
.blogpost__article:last-child {
    @include sizeDesktop {
        width: 100%;
    }
}

.blogpost__link:hover {
    color: $complimentaryHover;
}

.blogpost__message {
    text-align: center;
    // margin: 0 auto;
    font-size: 3rem;
}

.blogpost-wrapper {
    margin-bottom: 0.2rem;
    position: relative;
    width: 100%;
}

.blogpost-wrapper__img {
    margin: 0 auto;
    width: 100%;
    filter: grayscale(100%);
}

.blogpost-wrapper__img:hover {
    @include sizeDesktop {
        filter: grayscale(0);
    }
}

// This wrapps all the text in a post, both paragraphs and headline.
.blogpost-wrapper__text {
    box-sizing: border-box;
    bottom: 5px;
    color: $baseColor2;
    display: block;
    float: left;
    left: 0;
    position: relative;
    padding: 0.2em 0.4em 0;
    width: 100%;
}

.blogpost-wrapper__text:hover {
    background: $baseColorTransparent;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.blogpost-wrapper__tags {
    margin: 0.2em 0;
    line-height: 1.3em;
    color: $primary;
    font-family: $primaryBrandFont;
}

.blogpost-wrapper__links {
    color: $primary;
}

.blogpost-wrapper__links:hover {
    color: $primaryAlternative;
}

.blogpost__flex-list {
    @include sizeDesktop {
        @include flexbox();
        @include flexboxFlexWrap(wrap);
    }
}
