// TODO: This needs to be sorted out!
// This wrapps the whole content in a post, including image.
.blogpost {
    padding: 10rem 0 3rem 0;
}

.blogpost__article {
    display: block;
    margin: 0 auto;
    font-size: 2.0rem;
    width: 100%;
}

.blogpost-wrapper {
    margin-bottom: 0.2rem;
    position: relative;
    width: 100%;
}

.blogpost-wrapper__img {
    margin: 0 auto;
    width: 100%;
}
    // This wrapps all the text in a post, both paragraphs and headline.
.blogpost-wrapper__text {
    box-sizing: border-box;
    bottom: 5px;
    color: $baseColor2;
    display: block;
    left: 0;
    position: relative;
    padding: 1em 0.7em 0;
    width: 100%;
}

.blogpost-wrapper__text:hover {
    background: $baseColorTransparent;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.blogpost-wrapper__tags {
    margin: 0.2em 0;
    line-height: 1.3em;
    color: $primary;
    font-size: 1.6rem;
    font-family: $primaryBrandFont;

    a {
        color: $primary;
    }
    a:hover {
        color: $primaryAlternative;
    }
}
