.blogpost {
    padding: 10rem 0 3rem 0;
}

.blogpost__article {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%;
    @include sizeDesktop {
        width: calc(100%/3);
        border: 5px solid transparent;
    }
}

.blogpost__article:first-child,
.blogpost__article:last-child {
    @include sizeDesktop {
        padding: 0;
        width: 100%;
    }
}

.blogpost__link:hover {
    color: $complimentary;
}

.blogpost__message {
    text-align: center;
    font-size: 3rem;
}

.blogpost-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.blogpost-wrapper__img {
    filter: grayscale(100%);
    margin: 0 auto;
    width: 100%;
    @include sizeDesktop {
        left: 0;
        position: absolute;
        top: 0;
    }
}

.blogpost-wrapper__img:hover {
    @include sizeDesktop {
        filter: grayscale(0);
    }
}

.blogpost-wrapper__img-container {
    @include sizeDesktop {
        padding-bottom: 56.25%;
        overflow: hidden;
        position: relative;
    }
}

.blogpost-wrapper__img-container:first-child,
.blogpost-wrapper__img-container:last-child {
    @include sizeDesktop {
        max-height: 100%;
    }
}

// This wrapps all the text in a post, both paragraphs and headline.
.blogpost-wrapper__text {
    box-sizing: border-box;
    bottom: 5px;
    color: $baseColor2;
    display: block;
    float: left;
    left: 0;
    position: relative;
    padding: 0.2em 0.4em 0;
    width: 100%;
}

.blogpost-wrapper__headline {
    padding-top: 2rem;
    line-height: 3.2rem;
}

.blogpost-wrapper__tags {
    margin: 0.2em 0;
    line-height: 1.3em;
    color: $primary;
    font-family: $primaryBrandFont;
}

.blogpost-wrapper__links {
    color: $primary;
}

.blogpost-wrapper__links:hover {
    color: $primaryAlternative;
}

.blogpost__flex-list {
    @include sizeDesktop {
        margin: 0 -5px;
        @include flexbox();
        @include flexboxFlexWrap(wrap);
    }
}
