.button {
    background-color: $primary;
    border: 0;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $baseColor2;
    cursor: pointer;
    font-family: $secondaryBrandFont;
    font-size: 1.8rem;
    height: 4em;
    margin: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    width: 100%;
}

.button--small {
    font-size: 1.2rem;
    height: 3.3em;
    margin: 0;
    text-align: left;
}

.button:hover {
    background-color: $primaryAlternative;
}

.button:active {
    transform: translateY(5px);
}

.link__button, .link__button--error {
    padding: 1.5em;
}

.error, .link__button--error {
    background-color: $error;
}

.error:hover, .link__button--error:hover {
    background-color: $errorAlternative;
}
