.checkbox-wrapper {
    display: block;
    min-height: 2.5rem;
    padding-left: calc(2.5rem + 1.3rem);
    padding-top: 0.55rem;
    position: relative;
}

.checkbox-wrapper::before {
    cursor: pointer;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    left: 0;
    background: $baseColor;
    border: 2px solid $primary;
    content: '';
}

.checkbox-wrapper__icon {
    background: transparent;
    border: 3px solid $primary;
    border-top: none;
    border-right: none;
    content: '';
    height: 0.55rem;
    left: 0.85rem;
    opacity: 0.05;
    position: absolute;
    top: 0.8rem;
    transform: rotate(-45deg);
    width: 0.9rem;
    transition: opacity 125ms ease-in;
}

.checkbox-wrapper__checkbox {
    @include hidden-visually;
}

.checkbox-wrapper:hover .checkbox-wrapper__icon {
    opacity: 0.2;
}

.checkbox-wrapper__checkbox:checked + .checkbox-wrapper__icon {
    opacity: 1;
}
