.comment-bubble {
    float: right;
    position: relative;
    cursor: pointer;
}

.comment-bubble__number {
    color: $baseColor2;
    font-family: $primaryBrandFont;
    font-size: 2.4rem;
    font-weight: 600;
    left: 1.9rem;
    position: absolute;
    top: 0.5rem;
    text-align: center;
}

.comment-bubble__offset-text {
    font-size: 5rem;
    color: $primary;
    text-shadow: 2px 2px 5px $baseColorTransparent;
}

.comment-bubble__offset-text:hover {
    color: $primaryAlternative;
}

.comment-bubble__show-comments {
    display: none;
}

.comment__border-bottom {
    border-bottom: 2px solid $primary;
    padding-bottom: 2rem;
}

.comment-container {
    border: 2px solid $primary;
    padding: 2rem;
}


.comment-container__author-info {
    border-bottom: 2px solid $primary;
    color: $complimentary;
    font-family: $primaryBrandFont;
    padding-bottom: 2rem;
}

.comment-container__author-links {
    color: $complimentary;
}

.comment-container__author-links:hover {
    color: $complimentaryHover;
}

.comment-container--xl-margin {
    margin: 3rem 0;
    padding: 8rem 2rem;
}
