.comment-bubble {
    bottom: 1.4rem;
    cursor: pointer;
    position: absolute;
    right: 1.9rem;
    @include flexbox();
    @include flexboxJustifyContent(flex-end)
}

.comment-bubble__number {
    color: $baseColor2;
    font-family: $primaryBrandFont;
    font-size: 2.4rem;
    font-weight: 600;
    position: absolute;
    top: 0.5rem;
    text-align: center;
    margin: 0.2em 0;
    line-height: 1.3em;
    float: right;
}

.comment-bubble__number-one {
    right: 2rem;
}

.comment-bubble__number-two {
    right: 1.3rem;
}

.comment-bubble__number-three {
    right: 0.7rem;
}

.comment-bubble__offset-text {
    font-size: 5rem;
    color: $primary;
    text-shadow: 2px 2px 5px $baseColorTransparent;
}

.comment-bubble__offset-text:hover {
    color: $primaryAlternative;
}

.comment__border-bottom {
    border-bottom: 2px solid $primary;
    padding-bottom: 2rem;
}

.comment-container {
    border: 2px solid $primary;
    padding: 2rem;
}

.comment-container__text {
    margin: 0;
    padding: 1em 0 0.5em;
}

//TODO: use this one on desktop/tablet
.comment-container--xl-margin {
    margin: 3rem 0;
    padding: 8rem 2rem;
}
