fieldset {
    border: none;
    margin: 2em 0;
}

// TODO: När texten är autofill, se till att textfärgen är vit.
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $baseColor inset;
    -webkit-text-fill-color: $baseColor2;
}

// This class is also found in "_typography.scss"
.form-field {
    border: 0;
    border-bottom: 2px solid $primary;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
    color: $baseColor2;
    font-family: $secondaryBrandFont;
    font-§: 1.6rem;
    height: 4rem;
    margin: 0.5em 0;
    outline: none;
    width: 100%;
}

// TODO: sort out border-radius and text-align
.form-field__select {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: $primary;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1em;
    margin-left: 0;
    width: 100%;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px $baseColorSmallTransparent;
}

.form-field:visited {
    background-color: none;
}

.form-field__label {
    color: $primary;
}

.input-wrapper {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
}

// TODO: Get the styling right!
.form-field.edit-post__input {
    height: 3rem;
}

.edit-post__textarea {
    border: 2px solid $primary;
    line-height: 1.3em;
    padding: 0.2em;
    height: auto;
}

/* START OF STYLING FOR INPUT FIELD REGARDING FILE UPLOAD ------------------- */

/* Hide original appearance */
.choose-file__input {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

/* Style both input field and label */
.choose-file__input + .choose-file__label {
    display: block;
    padding: 1.5em;
}

label.choose-file__label::before {
    content: "Välj bild";
}

/* This appears after a file is chosen. */
.choose-file__input:valid + .choose-file__label::before {
    content: "1 Bild vald";
}

/* END OF STYLING FOR INPUT FIELD REGARDING FILE UPLOAD --------------------- */
