@mixin complimentaryText {
    color: $complimentary;
    display: inline-block;
    font-family: $primaryBrandFont;
    line-height: 1.2;
    margin: 0;
}

@mixin hidden-visually {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// TODO: Check these we are proberly missing some perfixes.

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexboxJustifyContent($value) {
    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin flexboxFlexDirection($value) {
    -webkit-flex-direction: $value;
    flex-direction: $value;
}

@mixin flexboxFlexWrap($value) {
    -webkit-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin flex($value) {
    -webkit-box-flex: $value;
    -webkit-flex: $value;
    -ms-flex: $value;
    flex: $value;
}


/*******************************************************************************
    MEDIA QUERIES / RESPONSIVE DESIGN
    _variables.scss
*******************************************************************************/
// TODO: Clean up comments.

@mixin mobileSizeSmall {
    @media (max-width: #{$widthMobileMedium - 1px}) {
        @content;
    }
}

@mixin mobileSizeMedium {
    @media (min-width: #{$widthMobileMedium}) and (max-width: #{$widthTablet - 1px}) {
        @content;
    }
}

@mixin sizeTablet {
    @media (min-width: #{$widthTablet}) and (max-width: #{$widthDesktop - 1px}) {
        @content;
    }
}

@mixin sizeDesktop {
    @media (min-width: #{$widthDesktop}) {
        @content;
    }
}

/* Use it like this: */

// @include sizeDesktop {}
