.nav {
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.nav__hamburger {
    bottom: 0;
    position: absolute;
    right: 0;

    @include sizeDesktop {
        @include hidden-visually;
    }
}

.nav__list {
    box-shadow: 1px 2px 5px $baseColorTransparent;
    font-family: $primaryBrandFont;
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
    // display: none;
    right: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 20rem;

    @include sizeDesktop {
        display: inline-block;
        font-family: $secondaryBrandFont;
        margin: 0;
        position: relative;
        top: 0;
        width: auto;
    }
}

.nav:hover .nav__list {
    display: block;
}

.nav__link {
    @include sizeDesktop {
        box-sizing: border-box;
        display: block;
        padding: 2.5rem 3rem 0 0;
        height: 6.8rem;
        transition: all 0.2s;
    }
}

.nav__link:hover,
.nav__list-item:hover {
    background: $primaryAlternative;
}

/*******************************************************************************
    START OF CATEGORY STYLING (BURGER MODE)
*******************************************************************************/

.nav__link--sub-parent {
    padding-left: 1.2rem;
    line-height: 2;
}

.nav__link--sub-parent:hover {
    background: $primary;

}

.nav__list-item-sub-parent:hover {
    background: $primary;
}

/*******************************************************************************
    END OF CATEGORY STYLING
*******************************************************************************/

.nav__list-item {
    background: $primary;
    cursor: pointer;
    padding: 1.5rem 1rem;

    @include sizeDesktop {
        background: none;
        float: left;
        position: relative;
        padding: 0;
    }
}

.nav__list-item-sub-parent {
    padding: 1.5rem 0 0;
        @include sizeDesktop {
            padding: 0;
        }
}

.nav__list-item-sub {
    box-sizing: border-box;
    display: block;
    padding-left: 2.4em;
    width: 100%;

    @include sizeDesktop {
        padding-left: 0;
    }
}

.nav__list-item--logout {
    @include sizeDesktop {
        display: none;
    }
}

.nav__list-item--logout:hover {
    background-color: $error;
}

.nav__list-item:hover .nav__dropdown {
    @include sizeDesktop {
        display: block;
        visibility: visible;
    }
}

.nav__dropdown-item {
    @include sizeDesktop {
        background: $primaryAlternative2;
        box-sizing: border-box;
        color: $primaryTextcolor;
        display: block;
        font-family: $primaryBrandFont;
        font-weight: 600;
        padding: 1.5rem 1rem;
    }
}

.nav__dropdown-item:hover {
    @include sizeDesktop {
        background: $primaryAlternative;
    }
}

.nav__dropdown-item--logout:hover {
    display: block;
    width: 100%;

    @include sizeDesktop {
        background: $error;
    }
}

.nav__link--logout:hover {
    background-color: $error;
    width: 100%;
    display: block;
}

.nav__dropdown {
    list-style: none;
    padding: 0;
    width: 100%;

    @include sizeDesktop {
        box-shadow: none;
        display: none;
        left: 0;
        list-style: none;
        position: absolute;
        visibility: hidden;
        transition: opacity 0.2s;
        top: 100%;
    }
}

.nav__dropdown--hide-sub {
    display: none;
}
