.nav {
    border: 1px solid red;

}

.nav__hamburger {
    @include sizeDesktop {
        @include hidden-visually;
    }
}


// This is the ul that needs styling.
.nav__list {
    font-family: $primaryBrandFont;
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
    // display: none;
    // line-height: 1.6em;
    // padding: 0 1rem;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    // display: none;
    // position: absolute;
    // width: 20rem;
    // top: 100%;
    // right: 0;

    @include sizeDesktop {
        background: none;
        box-sizing: border-box;
        display: inline-block;
        font-family: $secondaryBrandFont;
        margin: 0;
        line-height: 1.8;
        // padding: 1.5rem 0.4rem 1.7rem 0;
        // text-align: left;
    }
}

.nav__hamburger {
    border: 1px solid purple;
}

.nav:hover .nav__list {
    display: block;
}

.nav__link {

    @include sizeDesktop {
        display: block;
        padding: 2.5rem 2rem;
        transition: all 0.2s;
    }
}

.nav__link:last-of-type {

    @include sizeDesktop {
        padding-right: 3rem;
    }
}

.nav__link:hover,
.nav__list-item:hover {
    background: $primaryAlternative;
    @include sizeDesktop {
    }
}

.nav__link--extra-spacing {
    padding-left: 1.5rem;
}

.nav__list-item {
    background: $primary;
    border-bottom: 1px solid $baseColorTransparent;
    padding: 1.5rem 1rem;
    cursor: pointer;

    @include sizeDesktop {
        background: none;
        display: inline-block;
        margin-right: -0.4rem;
        position: relative;
        padding: 0;
    }
}


.nav__list-item:last-child {
    border-bottom: none;
}

.nav__list-item-sub-parent {
    padding: 1.5rem 0 0;

}
.nav__list-item-sub-parent:hover {
    // background: $primary;
    }

.nav__list-item-sub {
    box-sizing: border-box;
    background-color: $primaryAlternative;
    display: block;
    width: 100%;
}

.nav__dropdown {
    list-style: none;
    padding: 0;
    width: 100%;

    @include sizeDesktop {
        box-shadow: none;
        display: none;
        left: 0;
        list-style: none;
        // min-width: 18rem;
        // max-width: 25rem;
        position: absolute;
        top: 7.8rem;
        visibility: hidden;
        transition: opacity 0.2s;
    }
}

.nav__dropdown--hide-sub {
    display: none;
}

.nav__list-item--logout {
    @include sizeDesktop {
        display: none;
    }
}

.nav__list-item--logout:hover {
    background-color: $error;
}

.nav__list-item:hover .nav__dropdown {

    @include sizeDesktop {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.nav__dropdown-item {

    @include sizeDesktop {
        background: $primaryAlternative2;
        box-sizing: border-box;
        color: $primaryTextcolor;
        display: block;
        font-family: $primaryBrandFont;
        font-weight: 600;
        padding: 1.5rem 1rem;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
}

.nav__dropdown-item:hover {
    display: block;
    width: 100%;

    @include sizeDesktop {
        background: $primaryAlternative;
    }
}

.nav__dropdown-item--logout:hover {
    display: block;
    width: 100%;

    @include sizeDesktop {
        background: $error;
    }
}

.nav__link--logout:hover {
    background-color: $error;
    width: 100%;
    display: block;
}
