.postlist-wrapper__img {
    box-sizing: border-box;
    width: 100%;
}

.postlist-wrapper__row {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    padding-bottom: 1em;
}

.postlist-wrapper__draft-info {
    background-color: $complimentary;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $complimentaryAlternative;
    left: 0;
    line-height: 1.2em;
    padding: 1em;
    position: absolute;
    // text-transform: uppercase;
    top: 1.5rem;
}

.postlist-wrapper__td {
    position: relative;
}

.postlist-wrapper__title {
    color: $baseColor2;
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-shadow: 2px 2px 5px $baseColorSemiTransparent;
}
