textarea {
    width: 100%;
    resize: none;
    height: 100px;
    background: lighten($baseColor, 20%);
    border: none;
}

.post-text__img { /* TODO: Kolla denna */
    width: 100%;
}

.post-test img {
    width: 100%;
}

.post-text__title {
    font-size: 2.4rem;
    text-align: left;
}

.post-text__name {
    color: $primary;
}


.post-test {
    font-size: 1.4rem;
    background: $baseColor;
    color: $baseColor2;

    .post-test__comments {
    background: lighten($baseColor, 10%);
    margin-bottom: 1em;
    }

    // TODO: Det finns redan en klass i utilities som hanterar flex, kolla om du kan använda den.
    // Annars, lägg in ny klass som bara har display: flex.
    .post-test__flex {
/*         display: flex;
        justify-content: space-around; */
        background: $baseColor;

    }

}
