@keyframes radiobutton-wrapper__icon--pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.radiobutton-wrapper {
    display: block;
    min-height: 2.5rem;
    padding-left: calc(2.5rem + 1.3rem);
    padding-top: 0.55rem;
    position: relative;
}

.radiobutton-wrapper--margin {
    margin-bottom: 0.5rem;
}

.radiobutton-wrapper::before {
    box-sizing: border-box;
    background: $baseColor;
    border: 2px solid $primary;
    content: '';
    cursor: pointer;
    height: 2.5rem;
    border-radius: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2.5rem;
}

.radiobutton-wrapper__icon {
    box-sizing: border-box;
    background: transparent;
    background-color: $primary;
    border-radius: 50%;
    border-top: none;
    border-right: none;
    content: '';
    height: 1.3rem;
    left: 0.64rem;
    opacity: 0.05;
    position: absolute;
    top: 0.64rem;
    transition: opacity 125ms ease-in;
    width: 1.3rem;
}

.radiobutton-wrapper__button {
    @include hidden-visually;
}

.radiobutton-wrapper:hover .radiobutton-wrapper__icon {
    opacity: 0.1;
}

.radiobutton-wrapper__button:checked + .radiobutton-wrapper__icon {
    animation-name: radiobutton-wrapper__icon--pop;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.49,.01,.26,.99);
    opacity: 1;
}
