.table-listing__img {
    box-sizing: border-box;
    width: 100%;
}

.table-listing--inverted {
    color: $baseColor2;
    margin: 0 auto;
}

.table-listing__row {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    padding-bottom: 1em;
}

.table-listing__draft-info {
    background-color: $complimentary;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $complimentaryAlternative;
    left: 0;
    line-height: 1.2em;
    padding: 1em;
    position: absolute;
    top: 1.5rem;
}

.table-listing__td {
    position: relative;
}

// TODO: Sort these out. The color change is prob redundant if we convert the whole blog to dark mode.
.table-listing__title {
    color: $baseColor2;
}

.table-listing__title--on-img {
    color: $baseColor2;
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-shadow: 2px 2px 5px $baseColorSemiTransparent;
}
