// TODO: When styling for desktop, change to flex and rows.
.table-listing__row {
    display: block;
    margin: 7.5rem 0;
    padding-bottom: 1em;
    width: 100%;
}

.table-listing__title--on-img {
    bottom: 20px;
    position: absolute;
    width: 100%;
    left: 10px;
    text-shadow: 2px 2px 5px $baseColorSemiTransparent;
}
