html {
    font-family: $secondaryBrandFont;
    font-size: 62.5%;
}

body {
    background-color: $baseColor2;
    color: $baseColor;
    font-size: 1.6rem;
}

.primary-brand-font {
    font-family: $primaryBrandFont;
    font-weight: $primaryBrandWeight;
}

h1, h2, h3 {
    font-family: $primaryBrandFont;
    font-weight: $primaryBrandWeight;
    font-size: 5rem;
    margin: 0;
}

h1 {
    padding-top: 0.3rem;
}

h2 {
    text-align: center;
    padding-top: 0.3rem;
}

h3 {
    font-family: $secondaryBrandFont;
    font-size: 3rem;
    margin-bottom: 0.5em;
}

a {
    color: $baseColor2;
    text-decoration: none;
}

.introduction-paragraph {
    font-size: 2rem;
    margin: 0.7em 0 1.5em;
    text-align: center;
}
