.border-none {
    border: none;
}

.border-xl {
    border: 7px solid $primary;
}

.border-normal {
    border: 2px solid $primary;
}

.border-radius {
    border-radius: 5px;
}

.box-shadow {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.center-text {
    text-align: center;
}

.dark {
    background-color: $baseColor;
}

.flex-list {
    @include flexbox();
    @include flexboxFlexDirection(column);
    justify-content: center;
    //TODO: use these on tablet
    //@include flexboxJustifyContent(flex-start);
    //@include flexboxFlexWrap(flex-wrap);

}

.flex-list__item {
    border: 2px solid $primary;
    box-sizing: border-box;
    // TODO: Width might need adjustment.
    min-width: 29rem;
    max-width: 29rem;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
}

.flex-item {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.flexbox-wrapper {
    @include flexbox();
    @include flexboxFlexDirection(column);
    margin: 0 auto;
}

.full-width-img {
    box-sizing: border-box;
    width: 100%;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: gray;
}

.hidden {
    @include hidden-visually;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.inverted-text-color {
    color: $baseColor2;
}

.list-wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
}

.list-style-none {
    list-style-type: none;
}

.margin-normal {
    margin: 3rem 0;
}

.margin-bottom-xl {
    margin-bottom: 5rem;
}

.margin-bottom-l {
    margin-bottom: 3rem;
}

.no-padding {
    padding: 0;
}

.padding-normal {
    padding: 2rem;
}

.padding-top-l {
    padding-top: 2rem;
}

.padding-top-xl {
    padding-top: 4rem;
}

.padding-top-xxl {
    padding-top: 8rem;
}

.pagination-text {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

.primary-color {
    color: $primary;
}

.relative-container {
    display: block;
    width: 100%;
    position: relative;
}

.relative-container--boxsizing {
    box-sizing: border-box;
}

.relative-container__info {
    background-color: $complimentary;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    color: $complimentaryAlternative;
    left: 0;
    line-height: 1.2em;
    padding: 0.5em;
    position: absolute;
    top: 1.5rem;
}

.relative-container__link:hover {
    color: $baseColor2;
}

.saffron-text {
    color: $complimentary;
}
