.dark {
    background-color: $baseColor;
}

.flex-item {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.flexbox-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: gray;
}

.hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.inner-list {
    margin: 0 auto;
    padding: 0.5em 0;
}

.inverted-text-color {
    color: $baseColor2;
}

.list-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.list {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 2.0rem;
    width: 100%;
}


.margin-bottom-xl {
    margin-bottom: 5rem;
}

.saffron-text {
    color: $complimentary;
}
