.archive__date, .archive__link {
    @include complimentaryText;

    font-size: 2rem;
    line-height: 1.3em;
    padding-right: 0.3em;
}

.archive__link {
    color: $baseColor2;
}

.archive__link:hover {
    color: $complimentaryHover;
}
